<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!-- 패키지.domain클래스 까지 입력 -->
	<typeAliases>
		<typeAlias type="jsh.spring.project.domain.member.domain.Member" alias="Member"/>
		<typeAlias type="jsh.spring.project.domain.member.dto.RegisterRequest" alias="RegisterRequest"/>
		<typeAlias type="jsh.spring.project.domain.member.dto.RegisterConfirmRequest" alias="RegisterConfirmRequest"/>
		<typeAlias type="jsh.spring.project.domain.member.dto.LoginRequest" alias="LoginRequest"/>
		<typeAlias type="jsh.spring.project.domain.member.dto.MemberResponse" alias="MemberResponse"/>
		<typeAlias type="jsh.spring.project.domain.member.dto.MemberProfileUpdateRequest" alias="MemberProfileUpdateRequest"/>
		<typeAlias type="jsh.spring.project.domain.member.dto.MemberPasswordChangeRequest" alias="MemberPasswordChangeRequest"/>
		
	</typeAliases>
	
	<!-- mapper의 위치를 잡아준다. -->
	<mappers>
		<mapper resource="/sqls/member.xml"/>
		<mapper resource="/sqls/memberRegister.xml"/>
		<mapper resource="/sqls/memberSupport.xml"/>
	</mappers>

</configuration>
